.location-map {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
