.week-forecast {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

  &__title {
    margin: 0 2rem;
  }

  &__info-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1.5rem;
    min-width: 100%;
    padding: 0.5rem 1.5rem;
    list-style: none;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
    width: 17.5rem;

    @media screen and (max-width: 1100px) {
      width: 15rem;
    }

    @media screen and (max-width: 867px) {
      width: 12rem;
    }

    &:hover {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__sub-item {
    color: #555;
  }

  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    color: #000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:first-child {
      left: 1rem;
    }
    &:last-child {
      right: 1rem;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
