@import '../../sass/variables.scss';

.forecast {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  align-content: center;
  padding: 2rem;
  margin: 3rem auto;
  max-width: $default-container;

  @media screen and (max-width: 867px) {
    grid-column: 1 / -1;
    grid-template-rows: 1fr 1fr;
  }

  &__notice {
    grid-column: 1 / -1;
  }
}
