@import '../../sass/variables.scss';

.forecast {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content max-content;
  padding: 2rem;
  margin: 0 auto 4rem;
  max-width: $default-container;

  &__navigation {
    grid-column: 1 / -1;
  }

  &__icon {
    justify-self: flex-start;
    font-size: 5rem;
    margin-right: 1.5rem;
  }

  &__today-brief {
    display: flex;
    padding: 1rem 2rem;
    text-align: justify;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);
  }

  &__week-brief {
    display: flex;
    padding: 1rem 2rem;
    text-align: justify;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }

  &__today {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: white;
    border-radius: 1.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-image: url('https://images.unsplash.com/photo-1599045151332-ff2587f03eb2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__today-current {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    width: 95%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__today-degree {
    font-size: 4rem;
    margin-right: 1.5rem;
  }

  &__today-current-container {
    display: flex;
    margin: 1rem 0;
  }

  &__today-current-info {
    display: flex;
    flex-direction: column;
  }

  &__today-body {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__today-hourly-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 1.5rem;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    list-style: none;
    overflow-x: scroll;
  }

  &__today-hourly-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    // width: 13%;
    width: 6rem;
    align-items: center;

    &:hover {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__today-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:first-child {
      left: 1rem;
    }
    &:last-child {
      right: 1rem;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    color: #fff;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    background-image: url('https://images.unsplash.com/photo-1478860409698-8707f313ee8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__week {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  }

  &__week-title {
    margin: 0 2rem;
  }

  &__week-body {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  &__week-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 1.5rem;
    padding: 0.5rem 1.5rem;
    list-style: none;
    overflow-x: scroll;
  }

  &__week-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    // width: 13%;
    width: 13rem;

    &:hover {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &__week-icon {
    font-size: 4rem;
    margin: 0.5rem 0;
  }

  &__week-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:first-child {
      left: 1rem;
    }
    &:last-child {
      right: 1rem;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
