@import '../../sass/variables.scss';

.forecast {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  margin: 3rem auto;
  max-width: $default-container;
}
