.weather-icon {
  &__today {
    justify-self: flex-start;
    font-size: 5rem;
    margin-right: 1.5rem;
  }

  &__hour {
    display: flex;
    margin: 0 auto;
    font-size: 3rem;
  }

  &__week {
    font-size: 5rem;
    margin: 0.5rem 0;
  }
}
