.current-forecast {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;
  width: 95%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &__info-container {
    display: flex;
    margin: 1rem 0;
  }

  &__degree {
    font-size: 4rem;
    margin-right: 1.5rem;
  }

  &__icon {
    justify-self: flex-start;
    font-size: 5rem;
    margin-right: 1.5rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__additional-info {
    display: flex;
  }
}
