@import '../../sass/variables.scss';

.header {
  background-color: #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    margin: 0 auto;
    max-width: $default-container;

    @media screen and (max-width: 867px) {
      flex-direction: column;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 867px) {
      margin-bottom: 1.5rem;
    }
  }

  &__logo {
    font-size: 3.5rem;
    padding: 3px;
    border-radius: 50%;
    background-color: $color-primary;
    color: #fff;
    margin-right: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-right: 3rem;
  }

  &__sub-title {
    font-size: 2rem;
    font-weight: normal;
    margin-right: 1rem;
  }
}
