@import '../../../sass/variables.scss';

.error {
  grid-column: 1 / -1;
  padding: 2rem 4rem;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;

  @media screen and (max-width: 867px) {
    margin-top: 1rem;
  }

  &__message {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__capitals-list {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(5, 20rem);

    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(4, 20rem);
    }
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(3, 20rem);
    }
    @media screen and (max-width: 780px) {
      grid-template-columns: repeat(2, 25rem);
    }
    @media screen and (max-width: 650px) {
      grid-template-columns: repeat(1, 20rem);
      justify-content: center;
      text-align: center;
      font-size: 2.5rem;
    }
  }

  &__capitals-item {
    list-style: none;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $color-primary-dark;
    }
  }
}
