.week-info {
  display: flex;
  padding: 1rem 2rem;
  text-align: justify;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);

  &__icon {
    justify-self: flex-start;
    font-size: 5rem;
    margin-right: 1.5rem;
  }
}
